{% extends "base.html" %}

{% block content %}

<div class="table-title">
<h3>Devices management</h3>
</div>
<table class="table-fill">
<thead>
<tr>
    <th class="text-left">ID</th>
    <th class="text-left">Sunrise</th>
    <th class="text-left">Sunset</th>
    <th class="text-left">Pump interval</th>
    <th class="text-left">Pump TimeOn</th>
    <th class="text-left">Modified at</th>
    <th class="text-left">Description</th>
    <th class="text-left" >Actions</th>
  </tr>
</thead>
<tbody class="table-hover">
{% for elems in configurations%}
	<tr>
	  <td class="text-left">{{elems['deviceid']}}</td>
	  <td class="text-left">{{elems['sunrise']}}</td>
	  <td class="text-left">{{elems['sunset']}}</td>
	  <td class="text-left">{{elems['pump_interval']}}</td>
	  <td class="text-left">{{elems['pump_timeon']}}</td>
	  <td class="text-left">{{elems['timestamp']}}</td>
	  <td class="text-left">{{elems['description']}}</td>
	  <td class="text-left">
	    <form action="{{url_for('user_handler')}}" method="GET">
	      <input type=hidden value="{{elems['deviceid']}}" name="deviceid"/>
	      <input type=hidden value="_UPDATE" name="_method"/>
	      <button type="submit">Edit</button>
	    </form>
	  </td>
	</tr>
{%endfor%}
</tbody>
</table>
{% endblock %}
